# Copied from 'sphinx' extra of setup.cfg
altair
bokeh
folium
ipywidgets
matplotlib
nbclient
numpy
pandas
plotly
sphinx-click
sphinx_inline_tabs
sphinxext-rediraffe~=0.2.3
sympy
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
